<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Linear Regression Visualization</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <h1>Linear Regression Visualization</h1>
  <p>Click inside the plot to create points. Once you have at least two, the regression line will be drawn automatically.
  </p>
  <svg></svg>
  <button id="button">Delete all points</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="static/js/script.js"></script>
</body>

</html>
